:root {
  --primary: #d8811e;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: #1d232e;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #000000;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 64px rgba(0, 0, 0, 0.5);
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in, transform 0.1s ease-in-out; /* Added transition for background color and transform */
}

button:hover,
button:active {
  opacity: 0.9;
  background-color: var(--primary); /* Change background color on hover and click */
}

button:active {
  transform: scale(0.95); /* Scale down the button on click */
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}


#equals{
  background-color: var(--secondary);
}